@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400%);
  }
}

.animate-scroll-infinite {
  animation: scroll-infinite 20s linear infinite;
}

@media (min-width: 640px) {
  @keyframes scroll-infinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  
  .animate-scroll-infinite {
    animation: scroll-infinite 15s linear infinite;
  }
}

@media (min-width: 1024px) {
  @keyframes scroll-infinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll-infinite {
    animation: scroll-infinite 12s linear infinite;
  }
}
